/* 기본 setting */

*{
    padding: 0;
    margin: 0;
}

ol, ul, li{
    list-style: none;
}

input{
    outline: none;
    border: 0;
}

legend{
    display: none;
}

a{
    text-decoration: none;
    color: #333;
}

a:link:visited:active:hover{
    text-decoration: none;
    color: #333;
}

body{
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #333;
}


/* header부분 시작 */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 135px;
    background-color: transparent;
    transition: all 0.5s;
    z-index: 999;
}
header:hover{
    background-color: rgba(255, 255, 255, 70%);
    transition: all 0.5s;
}

    header > div#header_wrap{
        position: relative;
        clear: both;
        width: 1400px;
        height: 135px;
        margin: 0 auto;
    }

        /* logo 부분 */
        .logo{
            position: relative;
            float: left;
            width: 225px;
            height: 135px;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 135px;
            letter-spacing:0.1rem;
            color: #333;
        }

        /* 왼쪽 메뉴바 */
        nav.top_menu_all{
            position: relative;
            float: left;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            width: 556px;
            height: 135px;
            margin-right: 279px;
        }
            .top_menu{
                position: relative;
                clear: both;
                width: 100px;
                height: 135px;
                overflow: hidden;
                transition: all 0.5s;
            }
            .top_menu:hover{
                width: 100px;
                height: 500px;
                transition: all 1s;
            }
            .top_menu:hover .top_menu_up_line{
                transform: scale(1);
                transition: all 0.5s;
            }

                .top_menu > .top_menu_up{
                    position: relative;
                    clear: both;
                    width: 100px;
                    height: 135px;
                    font-size: 0.9rem;
                    font-weight: 500;
                    line-height: 133px;
                    text-align: center;
                }
                    .top_menu_up_line{
                        position: relative;
                        clear: both;
                        width: 50px;
                        height: 2px;
                        background-color: #333;
                        margin-left: 25px;
                        transform: scale(0);
                        transition: all 0.5s;
                    }
                .top_menu > .top_menu_down_01{
                    position: relative;
                    clear: both;
                    width: 100px;
                    height: 270px;
                    font-size: 0.8rem;
                    font-weight: 500;
                    line-height: 1.5rem;
                    text-align: left;
                    padding-top: 10px;
                    background-color: #fff;
                }
                    .top_menu_down_01 li:hover{
                        text-decoration: underline;
                    }

                .top_menu > .top_menu_down_02{
                    position: relative;
                    clear: both;
                    width: 100px;
                    height: 80px;
                    font-size: 0.8rem;
                    font-weight: 500;
                    line-height: 1.5rem;
                    text-align: left;
                    padding-top: 10px;
                    background-color: #fff;
                }
                    .top_menu_down_02 li:hover{
                        text-decoration: underline;
                    }

                .top_menu > .top_menu_down_03{
                    position: relative;
                    clear: both;
                    width: 100px;
                    height: 130px;
                    font-size: 0.8rem;
                    font-weight: 500;
                    line-height: 1.5rem;
                    text-align: left;
                    padding-top: 10px;
                    background-color: #fff;
                }
                    .top_menu_down_03 li:hover{
                        text-decoration: underline;
                    }


        /* 오른쪽 메뉴바 */
        .right_menu_01{
            position: relative;
            float: left;
            width: 340px;
            height: 135px;
        }

            .right_menu_01 > ul{
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                width: 340px;
                height: 135px;
            }

                .right_menu_01 > ul > li{
                    position: relative;
                    float: left;
                    width: 60px;
                    height: 135px;
                    font-size: 0.9rem;
                    text-align: center;
                    line-height: 135px;
                }
                .right_menu_01 > ul > li:nth-child(2){
                    position: relative;
                    float: left;
                    width: 100px;
                    height: 135px;
                }
                .right_menu_01 > ul > li:nth-child(n+3){
                    width: 35px;
                    height: 135px;
                    line-height: 145px;
                }
                .right_menu_01 > ul > li:nth-child(3){
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    width: 160px;
                    height: 135px;
                    line-height: 145px;
                }

                    .right_menu_01 > ul > li:nth-child(3) input[type="search"]{
                        top: 56px;
                        position: relative;
                        float: left;
                        width: 130px;
                        height: 25px;
                        border-bottom: 1px solid #333;
                        background-color: transparent;
                        font-size: 0.8rem;
                    }


                .right_menu_01 > ul > li:nth-child(5){
                    display: none;
                }

/* background_img 시작 */
#main_bg_img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}
    #main_bg_img > img{
        width: 100%;
        height: auto;
    }

    @media screen and (max-width: 1400px){

        #main_bg_img > img{
            width: 1400px;
            height: auto;
        }
    }
#m_main_bg_img{
    display: none;
}


/* scroll_down 시작 */
#scroll_down_all{
    position: absolute;
    top: 700px;
    left: 0px;
    width: 100%;
    height: 100px;
    z-index: 998;
}
    .scroll_down{
        position: relative;
        clear: both;
        width: 1400px;
        height: 100px;
        margin: 0 auto;
    }
        .scroll_down_img{
            position: relative;
            clear: both;
            width: 35px;
            height: 50px;
            left: 682.5px;
            background-image: url(../img/scroll_down-01.png);
            background-repeat: no-repeat;
            background-size: 35px 35px;

            -webkit-animation-name: scroll_down_icon;
            -webkit-animation-duration: 0.8s;
            -webkit-animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-timing-function: linear;
        }

        @-webkit-keyframes scroll_down_icon{
            0%{top:0px}
            100%{top:10px}
        }


        .scroll_down > .scroll_down_text{
            position: relative;
            clear: both;
            width: 800px;
            height: 50px;
            left: 600px;
        }

            .scroll_down_text > p{
                width: 200px;
                height: 50px;
                text-align: center;
                font-size: 1rem;
                font-weight: 400;
                color: #fff;
            }


/* 내용 시작 */
#content_wrap{
    position: absolute;
    top: 1000px;
    left: 0;
    width: 100%;
    height: 4500px;
    background-color: #fff;
    z-index: 2;
}
@media screen and (max-width: 1400px){

    #content_wrap{
        position: absolute;
        top: 1000px;
        width: 1400px;
        height: 4500px;
        background-color: #fff;
    }
}

    /* 아이콘 메뉴 시작 */
    #icon_manu_wrap{
        position: relative;
        clear: both;
        width: 1400px;
        height: 300px;
        margin: 0 auto;
        background-color: #fff;
    }
        .icon_manu_all{
            position: absolute;
            top: 100px;
            left: 350px;
            width: 700px;
            height: 100px;
        }

        .icon_manu_all > ul{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
        
        
            .icon_manu_01{
                position: relative;
                clear: both;
                width: 100px;
                height: 70px;
                text-align: center;
                background-image: url(../img/new_arrivals_icon-01.png);
                background-repeat: no-repeat;
                background-size: 100px 70px;
            }
            .icon_manu_02{
                position: relative;
                clear: both;
                width: 100px;
                height: 70px;
                text-align: center;
                background-image: url(../img/pumpkins_icon-01.png);
                background-repeat: no-repeat;
                background-size: 100px 70px;
            }

            .icon_manu_03{
                position: relative;
                clear: both;
                width: 100px;
                height: 70px;
                text-align: center;
                background-image: url(../img/fashion_icon-01.png);
                background-repeat: no-repeat;
                background-size: 100px 70px;
            }
            .icon_manu_04{
                position: relative;
                clear: both;
                width: 100px;
                height: 70px;
                text-align: center;
                background-image: url(../img/home_icon-01.png);
                background-repeat: no-repeat;
                background-size: 100px 70px;
            }
            .icon_manu_05{
                position: relative;
                clear: both;
                width: 100px;
                height: 70px;
                text-align: center;
                background-image: url(../img/life_icon-01.png);
                background-repeat: no-repeat;
                background-size: 100px 70px;
            }

            .icon_manu_all > ul > li:nth-child(5){
                display: none;
            }

            .icon_manu_text{
                position: relative;
                clear: both;
                display: block;
                width: 100px;
                height: 30px;
                font-size: 0.8rem;
                font-weight: 500;
                text-align: center;
                line-height: 30px;
            }

    /* 아이콘  하단 컨텐츠 */
    #introduction_wrap{
        position: relative;
        clear: both;
        width: 1400px;
        height: 1240px;
        margin: 0 auto;
        padding-bottom: 100px;
        background-color: #fff;
    }

        #introduction_left{
            position: relative;
            float: left;
            width: 930px;
            height: 1240px;
        }

            .intro_left_top{
                position: relative;
                clear: both;
                width: 930px;
                height: 520px;
                margin-bottom: 55px;
            }
                #intro_img_01{
                    position: relative;
                    clear: both;
                    width: 930px;
                    height: 520px;
                }
            
            .intro_left_bottom{
                position: relative;
                clear: both;
                width: 930px;
                height: 665px;
            }
                .intro_left_bottom > div{
                    position: relative;
                    float: left;
                    width: 437.5px;
                    height: 665px;
                }
                .intro_left_bottom > div:nth-child(1){
                    margin-right: 55px;
                }
                    .intro_left_bottom > div > a > img{
                        position: relative;
                        clear: both;
                        width: 437.5px;
                        height: 570px;
                    }
                    .intro_left_bottom > div > a > span{
                        display: block;
                        position: relative;
                        clear: both;
                        width: 437.5px;
                        height: 70px;
                        font-size: 1rem;
                        font-weight: 400;
                        margin-top: 20px;
                    }

        #gap_1_1240{
            position: relative;
            float: left;
            width: 1px;
            height: 1240px;
            background-color: #aaa;
            margin: 0px 74.5px;
        }

        #introduction_right{
            position: relative;
            float: left;
            width: 320px;
            height: 1240px;
        }
            .intro_right_01{
                position: relative;
                clear: both;
                width: 320px;
                height: 412.5px;
            }
            .intro_right_01:nth-child(3){
                position: relative;
                clear: both;
                width: 320px;
                height: 415px;
            }
            .intro_right_01 > a > img{
                position: relative;
                clear: both;
                width: 320px;
                height: 320px;
            }

            .intro_right_01 > a > span{
                display: block;
                position: relative;
                clear: both;
                width: 320px;
                height: 72.5px;
                font-size: 1rem;
                font-weight: 400;
                margin-top: 20px;
            }


    /* NEW ARRIVALS 제목 시작 */
    #content_title{
        position: relative;
        clear: both;
        width: 1400px;
        height: 200px;
        font-size: 1.3rem;
        font-weight: 700;
        text-decoration: underline;
        text-align: center;
        line-height: 200px;
        margin: 0 auto;
        background-color: #fff;
    }

    /* NEW ARRIVALS 내용 시작 */
    #product_01_all{
        position: relative;
        clear: both;
        width: 100%;
        height: 790px;
        background-color: #fff;
    }
        .product_01{
            position: relative;
            clear: both;
            width: 1400px;
            height: 790px;
            margin: 0 auto;
            background-color: #fff;
        }
            .product_01_left{
                position: relative;
                float: left;
                width: 365px;
                height: 690px;
                margin-right: 10px;
            }

            .product_01_left:hover .product_01_left_text{
                opacity: 100%;
                transition: all 0.5s;
            }

            .product_01_left_text{
                position: absolute;
                top: 0px;
                left: 0px;
                width: 325px;
                height: 590px;
                padding: 50px 20px;
                color: #fff;
                background-color: rgba(0, 0, 0, 50%);
                opacity: 0%;
                transition: all 0.5s;
            }
                .product_01_left_text > p{
                    position: relative;
                    clear: both;
                    width: 325px;
                    height: 30px;
                    font-size: 1rem;
                    line-height: 30px;
                    font-weight: 500;
                    text-align: center;
                }


            .product_01_right_top{
                position: relative;
                float: left;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                width: 1025px;
                height: 340px;
                padding-bottom: 10px;
            }
                .product_01_right_top_01{
                    position: relative;
                    float: left;
                    width: 335px;
                    height: 340px;
                }
                .product_01_right_top_01:hover .product_01_right_text{
                    opacity: 100%;
                    transition: all 0.5s;
                }

                .product_01_right_text{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 295px;
                    height: 240px;
                    padding: 50px 20px;
                    color: #fff;
                    background-color: rgba(0, 0, 0, 50%);
                    opacity: 0%;
                    transition: all 0.5s;
                }
                    .product_01_right_text > p{
                        position: relative;
                        clear: both;
                        width: 325px;
                        height: 30px;
                        font-size: 1rem;
                        line-height: 30px;
                        font-weight: 500;
                        text-align: center;
                    }

            .product_01_right_bottom{
                position: relative;
                float: left;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                width: 1025px;
                height: 340px;
            }
                .product_01_right_bottom_01{
                    position: relative;
                    float: left;
                    width: 335px;
                    height: 340px;
                }
                .product_01_right_bottom_01:hover .product_01_right_text{
                    opacity: 100%;
                    transition: all 0.5s;
                }

    /* MD'S PICK 버튼 시작 */
    #product_02_button_all{
        position: relative;
        clear: both;
        width: 1400px;
        height: 60px;
        margin: 0 auto;
        background-color: #fff;
    }
        .product_02_button{
            position: relative;
            clear: both;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            width: 500px;
            height: 60px;
            margin: 0 auto;
        }

            .product_02_button > .button_01, .button_02, .button_03{
                position: relative;
                float: left;
                width: 140px;
                height: 40px;
            }
            .button_01:hover > input[type="button"]{
                color: #333;
                background-color: transparent;
                border: 1px solid #333;
            }
            .button_02:hover > input[type="button"]{
                color: #333;
                background-color: transparent;
                border: 1px solid #333;
            }
            .button_03:hover > input[type="button"]{
                color: #333;
                background-color: transparent;
                border: 1px solid #333;
            }

                .button_01 > input[type="button"]{
                    position: relative;
                    clear: both;
                    width: 140px;
                    height: 40px;
                    top: 10px;
                    border-radius: 30px;
                    font-size: 0.9rem;
                    font-weight: 400;
                    color: #fff;
                    cursor: pointer;
                    background-color: #333;
                }

                .button_02 > input[type="button"]{
                    position: relative;
                    clear: both;
                    width: 140px;
                    height: 40px;
                    top: 10px;
                    border-radius: 30px;
                    font-size: 0.9rem;
                    font-weight: 400;
                    color: #fff;
                    cursor: pointer;
                    background-color: #333;
                }
                .button_03 > input[type="button"]{
                    position: relative;
                    clear: both;
                    width: 140px;
                    height: 40px;
                    top: 10px;
                    border-radius: 30px;
                    font-size: 0.9rem;
                    font-weight: 400;
                    color: #fff;
                    cursor: pointer;
                    background-color: #333;
                }


    /* MD'S PICK 내용 시작 */

    #product_02_all_wrap{
        position: relative;
        clear: both;
        width: 1400px;
        height: 711px;
        margin: 0 auto;
    }

    .product_02_all_01{
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 1400px;
        height: 611px;
        padding-top: 20px;
        opacity: 100%;
    }
    .product_02_all_01.open{
        opacity: 0%;
    }

        .md_all_wrap{
            position: relative;
            clear: both;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            width: 1040px;
            height: 611px;
            margin: 0 auto;
        }

            .md_all_img_all{
                position: relative;
                float: left;
                width: 320;
                height: 611px;
                overflow: hidden;
            }

                #md_all_img{
                    position: relative;
                    clear: both;
                    width: 320px;
                    height: 500px;
                }

                .md_all_text{
                    position: relative;
                    clear: both;
                    width: 320px;
                    height: 111px;
                }
                    .md_all_text > p:nth-child(1){
                        width: 320px;
                        height: 20px;
                        font-size: 1rem;
                        font-weight: 300;
                        line-height: 20px;
                        color: #aaa;
                    }
                    .md_all_text > p:nth-child(2){
                        position: relative;
                        clear: both;
                        width: 320px;
                        height: 50px;
                        font-size: 1.2rem;
                        font-weight: 600;
                        line-height: 50px;
                        border-bottom: 1px solid #ddd;
                    }
                    .md_all_text > p:nth-child(3){
                        width: 320px;
                        height: 40px;
                        font-size: 1.3rem;
                        font-weight: 400;
                        text-align: right;
                        line-height: 40px;
                    }

    .product_02_all_02{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 1400px;
        padding-top: 20px;
        opacity: 0%;
    }
    .product_02_all_01.open{
        opacity: 100%;
    }

    .product_02_all_03{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 1400px;
        height: 611px;
        padding-top: 20px;
        opacity: 0%;
    }
    .product_02_all_01.open{
        opacity: 100%;
    }



/* EVENT 내용 시작 */

#product_03_wrap{
    position: relative;
    clear: both;
    width: 1400px;
    height: 490px;
    margin: 0 auto;
    background-color: #fff;
}

    #product_03_all{
        position: relative;
        clear: both;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 1040px;
        height: 490px;
        margin: 0 auto;
    }

        .pro_03_box_01{
            position: relative;
            float: left;
            width: 515px;
            height: 490px;
        }

        .pro_03_box_01:hover .pro_03_box_01_text{
            opacity: 100%;
            transition: all 0.5s;
        }

            .pro_03_box_01 > picture > img{
                position: absolute;
                top: 0px;
                left: 0px;
                width: 515px;
                height: 490px;
            }
            .pro_03_box_01 > .pro_03_box_01_text{
                position: absolute;
                top: 0px;
                left: 0px;
                width: 515px;
                height: 490px;
                color: #fff;
                background-color: rgba(0, 0, 0, 50%);
                opacity: 0%;
                transition: all 0.5s;
            }

        
                .pro_03_box_01_text > h3{
                    position: relative;
                    clear: both;
                    width: 515px;
                    height: 50%;
                    font-size: 1.5rem;
                    text-align: center;
                    line-height: 35vh;
                }
                .pro_03_box_01_text > p{
                    position: relative;
                    clear: both;
                    width: 475px;
                    height: 50%;
                    padding: 0px 20px;
                    font-size: 1rem;
                    text-align: center;
                    line-height: 1.5rem;
                }

        .pro_03_box_02{
            position: relative;
            float: left;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            width: 515px;
            height: 490px;
        }

            .pro_03_box_02_01{
                position: relative;
                float: left;
                width: 252.5px;
                height: 490px;
            }

            .pro_03_box_02_01 > div{
                position: relative;
                clear: both;
                width: 252.5px;
                height: 252.5px;
            }
            
            .pro_03_box_02_01 > div:nth-child(2){
                position: relative;
                clear: both;
                width: 252.5px;
                height: 237.5px;
            }

                .pro_03_box_02_01 > div:nth-child(2) > h3{
                    position: relative;
                    clear: both;
                    width: 252.5px;
                    height: 50px;
                    font-size: 1.2rem;
                    line-height: 50px;
                }
                .pro_03_box_02_01 > div:nth-child(2) > p{
                    position: relative;
                    clear: both;
                    width: 252.5px;
                    height: 187.5px;
                    font-size: 0.9rem;
                    line-height: 1.4rem;
                    color: #999;
                }


/* 푸터 시작 */
#footer_all{
    position: absolute;
    top: 5500px;
    left: 0;
    width: 100%;
    height: 449px;
    background-color: #fff;
    z-index: 2;
}

    .footer_top{
        position: relative;
        clear: both;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 1400px;
        height: 300px;
        margin: 0 auto;
        padding-top: 50px;
        border-top: 1px solid #333;
    }

        .footer_content_01{
            position: relative;
            float: left;
            width: 150px;
            height: 300px;
            font-size: 1.3rem;
            font-weight: 700;
            letter-spacing: 0.1rem;
        }

        .footer_content_02{
            position: relative;
            float: left;
            width: 250px;
            height: 300px;
        }
            .footer_content_02 > h4{
                position: relative;
                clear: both;
                width: 250px;
                height: 30px;
                font-size: 1.1rem;
                line-height: 30px;
            }
            .footer_content_02 > p{
                position: relative;
                clear: both;
                width: 250px;
                height: 50px;
                font-size: 0.8rem;
                line-height: 1.5rem;
            }
            .footer_content_02 > p:nth-child(3){
                margin-top: 30px;
            }

        .footer_content_03{
            position: relative;
            float: left;
            width: 200px;
            height: 300px;
        }

            .footer_content_03 > ul{
                position: relative;
                clear: both;
                width: 200px;
                height: 200px;
                font-size: 0.8rem;
                margin-top: 2px;
            }
                .footer_content_03 > ul > li{
                    position: relative;
                    clear: both;
                    width: 200px;
                    height: 25px;
                    font-size: 0.8rem;
                    line-height: 25px;
                }
                .footer_content_03 > ul > li:hover{
                    text-decoration: underline;
                }

            .footer_content_03 > div{
                position: relative;
                clear: both;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                width: 200px;
                height: 25px;
                font-size: 0.8rem;
                margin-top: 2px;
            }
                .footer_content_03 > div > span{
                    position: relative;
                    float: left;
                    width: 80px;
                    height: 25px;
                    font-size: 0.8rem;
                    line-height: 25px;
                }

                .footer_content_03 > div > ul{
                    position: relative;
                    float: left;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: space-between;
                    width: 120px;
                    height: 25px;
                }


        .footer_content_04{
            position: relative;
            float: left;
            width: 350px;
            height: 300px;
            font-size: 0.8rem;
            line-height: 25px;
        }
        .footer_content_05{
            position: relative;
            float: left;
            width: 200px;
            height: 300px;
        }
            .footer_content_05 > a{
                position: absolute;
                top: 0px;
                right: 0px;
                width: 180px;
                height: 50px;
            }

                .footer_content_05 > a > input[type="button"]{
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    width: 180px;
                    height: 50px;
                    font-size: 1rem;
                    background-color: #fff;
                    border: 1px solid #333;
                    cursor: pointer;
                }

                .footer_content_05 > a > input[type="button"]:hover{
                    background-color: #eee;
                }


    .footer_bottom{
        position: relative;
        clear: both;
        width: 1400px;
        height: 100px;
        margin: 0 auto;
        font-size: 0.8rem;
    }






/* 퀵메뉴 시작 */
#quick_menu{
    position: fixed;
    right: 5%;
    bottom: 10%;
    width: 100px;
    height: 100px;
    z-index: 998;
  }
  
    .quick_top{
      position: relative;
      clear: both;
      width: 100px;
      height: 100px;
    }

    .quick_menu_img{
        position: relative;
      clear: both;
      width: 100px;
      height: 100px;
      background-image: url(../img/p_quick_menu-01.png);
      background-repeat: no-repeat;
      background-image: 100px 100px;
      transition: all 0.3s;
    }
        .quick_menu_img:hover { 
        background-image: url(../img/p_quick_menu-02.png);
        background-repeat: no-repeat;
        background-image: 100px 100px; 
        transition: all 0.3s;
        }
  